[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/michal-cic/etch-a-sketch.git
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/michal-cic/rock-paper-scissors.git
